[submodule "third_party/nanort"]
	path = third_party/nanort
	url = https://github.com/lighttransport/nanort.git
[submodule "third_party/ugu"]
	path = third_party/ugu
	url = https://github.com/unclearness/ugu.git
